aside {
  grid-area: sidebar;
  padding: 1em 3em;
}

header {
  grid-area: header;
  border-bottom: 15px solid var(--primary);
}

main {
  grid-area: main;
  padding: 2em;
  background-color: var(--bg-primary);
  overflow: scroll;
}
