.vertical-progress-bar {
  position: relative;
  height: 300px;
  width: 50px;

  .progress-item {
    display: block;
    width: inherit;

    &.dark-blue {
      background-color: var(--secondary);
    }

    &.cyan {
      background-color: var(--primary);
    }
  }
}
