.item-list {
  width: 200px;
  gap: 10px;
}

.expand-button,
.collapse-button {
  background-color: var(--bg-secondary);
  border: 2px solid var(--secondary);
  color: var(--secondary);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: var(--primary);
  }
}
